
.label {
    -fx-text-fill: white;
}

#lblCreateUser {
    -fx-text-fill: #90AED6;
}

#lblLoginDetails {
    -fx-text-fill: #D9D9D9;
}

.button {
    -fx-background-color: #90AED6;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-background-color: #90AED6;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-background-color: #D9D9D9;
}

#loginInformation {
    -fx-border-color: #D9D9D9;
    -fx-border-width: 2;
}

