
#projectsView {
    -fx-background-color: #333333;
}

.label {
    -fx-text-fill: white;
}


.button {
    -fx-background-color: #90AED6;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-background-color: #90AED6;
    -fx-text-fill: #000000;
}

.text-area *.content {
    -fx-background-color: #D9D9D9;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#btnSave, #btnAdd, #btnRemove {
    -fx-padding: 0px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

#spInstallation {
    -fx-background: #333333;
    -fx-border-color: #333333;
}

#vbClientInfo, #vbStaff, #vbInstallations, #vbProjectInfo {
    -fx-border-radius: 2;
    -fx-border-color: grey;
}

#lblInstallations, #lblAssignedUsers, #lblProjectInfo, #lblClientInfo {
    -fx-text-fill: #90AED6;
}

#fpInstallations {
    -fx-background-color: #333333;
}

#listUsers {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#listUsers .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#listUsers .list-cell:selected, #listUsers .list-cell:hover {
    -fx-text-fill: #90AED6;
}